.background {
    background: url(./Images/background2.jpeg) no-repeat center center fixed; 
    width: 105%;
    background-size: cover;
    overflow: scroll;
    /* overflow: hidden; */
    position: fixed;
    top: 100px;
    /* bottom: 0px; */
}